<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Test Class Rule Set" Description=" Rule Set for Test Classes of SampleRevitApp. Child of SharedCodeAnalysis" ToolsVersion="15.0">
  <Include Path="..\..\..\..\source\repos\rvttestrunner\sharedcodeanalysis.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1707" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1600" Action="None" />
  </Rules>
</RuleSet>